@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

h1 {
    font-family: 'Montserrat';
    font-weight: 300px;
    padding: 20px;
}
h2 {
    font-family: 'Montserrat';
    padding: 15px;
}
p {
    font-family: 'Montserrat';
    padding: 15px;
}
a {
    font-family: 'Montserrat';
}
footer p {
    max-width: 70ch;
}

label {
    font-family: 'Montserrat';
    padding: 5px;
}

button {
    font-family: 'Montserrat';
    padding: 10px;
}